@charset "UTF-8";

/* 개구쟁이 폰트 */
/* font-family: 'Gaegu', handwriting; */
@import url(https://fonts.bunny.net/css?family=gaegu:400);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
/* font-family: 'Noto Sans KR'; */
/* 메인 사진 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


/* 전체 설정 */
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    overflow-x: hidden;
}

h2,
span {
    cursor: default;
    font-family: 'Noto Sans KR';
}

h1 {
    font-size: 50px;
    position: fixed;
    bottom: 0;
    z-index: 99;
    background-color: #eee;
}

/* 로고 설정 */
.home img {
    position: relative;
    z-index: 2;
    transition: 1s all;
}

#top {
    position: fixed;
    width: 100%;
    height: 170px;
    z-index: 5;
    background-color: #fff;
    top: -170px;
    transition: all 0.5s;
}

header {
    text-align: center;
    position: relative;
    overflow: hidden;
}

header img:hover {
    cursor: pointer;
}

/* 네비게이션 설정 */
nav {
    height: 50px;
    margin-left: -20px;
    padding-top: 10px;
}

nav>ul {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

nav li span {
    font-family: 'Gaegu', handwriting;
    size: 20px;
    font-weight: bold;
}

nav li {
    width: 20%;
}

nav ul li span:hover {
    cursor: pointer;
}

.top_bg {
    display: flex;
    position: absolute;
    left: 0;
    top: -50%;
}

.top_bg div img {
    width: 100%;
}

.top_bg div {
    transition: all 1.5s;
    width: 20%;
    opacity: 0;
}


.bg_cover {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 170px;
    opacity: 0;
    z-index: 1;
}

.bg_cover div:hover {
    cursor: pointer;
}

.bg_cover div {
    width: 20%;
    opacity: 0;
}




/* 커버 설정 */
.cover {
    background-color: black;
    width: 100%;
    height: 1080px;
    position: relative;
    font-family: 'Noto Sans KR';
    font-weight: 100;
}

.cover span {
    cursor: default
}

.cover1 {
    text-align: center;
    padding-top: 130px;
}

.cover2 {
    margin-top: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.cover2 img {
    width: 100%;
}

.cover2 div {
    position: absolute;
    transition: all 1s;
}

.cover2 div:nth-child(1) {
    width: 500px;
    opacity: 0;
    overflow: hidden;
}

.cover2 div:nth-child(2) {
    width: 500px;
    overflow: hidden;
}

.cover2 div:nth-child(2):hover img {
    transition: all 1s;
    transform: scale(1.1);
}

.cover2 div:nth-child(3) {
    color: #fff;
    font-family: 'Noto Sans KR';
    text-align: center;
    font-size: 20px;
    left: 50%;
    margin-left: -95px;
    bottom: -550px;
    cursor: default;
    font-weight: 100
}

.cover2 div:nth-child(2):hover {
    cursor: pointer;
}

/* 메인 */

.main {
    width: 100%;    
    position: relative;
    font-family: 'Noto Sans KR';
    font-weight: 100;
}

.main_img {
    width: 100%;
    position: relative;
    text-align: center;
    overflow: hidden;
    padding-bottom: 100px;
}

.main_img img {
    width: 100%;
}

.main_img p:nth-child(2) {
    transition: all 0.2s;
    font-family: 'Merriweather', serif;
    font-size: 10vw;
    position: absolute;
    left: -10%;
    bottom: 0px;
    color: #fff;
    font-weight: 900;
    text-shadow: 10px 10px #000;
    opacity: 0;
    letter-spacing: 3px;
}

.main_img p:nth-child(3) {
    transition: all 0.2s;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 12vw;
    letter-spacing: -10px;
    position: absolute;
    right: -10%;
    bottom: 0px;
    transform: rotate(270deg);
    color: #fff;
    text-shadow: -10px 10px #000;
    opacity: 0;
}

.main_img p {
    cursor: default
}

/* 프로필 */
.profile {
    opacity: 0;
    max-width: 0px;
    height: 520px;
    margin: 200px auto;
    padding: 50px 0;
    font-family: 'Noto Sans KR';
    font-weight: 100;
    transition: all 2s;
    position: relative;
    background-color: #FFB7CD;
}

.profile_box {
    overflow: hidden;
}

.profile h2 {
    width: 1280px;
    opacity: 1;
    transition: all 2s;
    position: absolute;
    top: -60px;
    left: 0;
    font-size: 40px;
}

.profile_inner {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 1000px;
}

.profile_img {
    width: 50%;
    height: 1000px;
    position: relative;
    transition: all 1s;
}

.profile_img div {
    width: 300px;
    height: 450px;
    position: absolute;
    right: 60px;
    top: 0;
    transition: all 2s;
}

.profile_img div:nth-child(1) {
    background-color: #fff;
    width: 280px;
    height: 405px;
    opacity: 0;
    top: 55px;
}

.profile_img div:nth-child(2) {
    top: 10px;
    margin-right: 30px;
    opacity: 0;
}

.profile_img div:nth-child(2) img {
    width: 100%;
}

.profile_txt {
    width: 50%;
    font-size: 20px;
    padding-top: 50px;
    font-size: 18px;
    margin-left: 100px;
    opacity: 0;
    cursor: default;
    transition: all 1s;
}

.profile_txt ul li {
    padding-bottom: 29.5px;
}

/* 히스토리 */

.history {
    font-family: 'Noto Sans KR';
    opacity: 0;
    max-width: 1280px;
    margin: 200px auto;
    font-size: 16px;
    font-weight: 100;
    transition: all 1s;
    justify-content: center;
    position: relative;
}


.history h2 {
    font-size: 40px;
    opacity: 1;
    transition: all 2s;
    margin-bottom: 5px;
    opacity: 0;
}

.history_top {
    background-color: #eee;
    display: flex;
    justify-content: space-around;
    height: 700px;
    position: relative;
    box-sizing: border-box;
}

.history_top>article {
    width: 160px;
    height: 0px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    margin-top: auto;
    position: relative;
    transition: all 2s;
}

.history_top>article:nth-child(1) {
    border-left: 1px solid #999;
}

.history_top>article:last-child {
    border-right: 1px solid #999;
}


.history_top img {
    width: 100%;
    text-align: center;
}

.history_top img:hover {
}

.history_img1 {
    height: 160px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.history_img2 {
    height: 160px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.history_img3 {
    height: 160px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.history_img4 {
    height: 160px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.history_img5 {
    height: 160px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.history_img6 {
    height: 160px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.history_img7 {
    height: 160px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.history_img8 {
    height: 160px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.history_img9 {
    height: 160px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.history_img10 {
    height: 160px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.history_img11 {
    height: 160px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.history_img12 {
    height: 160px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.history_img13 {
    height: 160px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.history_bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin-top: 20px;
}

.history span {
    opacity: 0;
    font-size: 10px;
    text-align: center;
    display: block;
    color: #fff;
    font-weight: 100;
    margin-top: -10px;
    padding-top: 10px;
}

.history_img1:hover {
    transform: scale(2);
    z-index: 20;
}

.history_img2:hover {
    transform: scale(2);
    z-index: 20;
}

.history_img3:hover {
    transform: scale(2);
    z-index: 20;
}

.history_img4:hover {
    transform: scale(2);
    z-index: 20;
}

.history_img5:hover {
    transform: scale(2);
    z-index: 20;
}

.history_img6:hover {
    transform: scale(2);
    z-index: 20;
}

.history_img7:hover {
    transform: scale(2);
    z-index: 20;
}

.history_img8:hover {
    transform: scale(2);
    z-index: 20;
}

.history_img9:hover {
    transform: scale(2);
    z-index: 20;
}

.history_img10:hover {
    transform: scale(2);
    z-index: 20;
}

.history_img11:hover {
    transform: scale(2);
    z-index: 20;
}

.history_img12:hover {
    transform: scale(2);
    z-index: 20;
}

.history_img13:hover {
    transform: scale(2);
    z-index: 20;
}

.history_img1:hover span {
    opacity: 1;
}

.history_img2:hover span {
    opacity: 1;
}

.history_img3:hover span {
    opacity: 1;
}

.history_img4:hover span {
    opacity: 1;
}

.history_img5:hover span {
    opacity: 1;
}

.history_img6:hover span {
    opacity: 1;
}

.history_img7:hover span {
    opacity: 1;
}

.history_img8:hover span {
    opacity: 1;
}

.history_img9:hover span {
    opacity: 1;
}

.history_img10:hover span {
    opacity: 1;
}

.history_img11:hover span {
    opacity: 1;
}

.history_img12:hover span {
    opacity: 1;
}

.history_img13:hover span {
    opacity: 1;
}

.history_top div {

    transition: 1s all;
}

.hover_effect {
    position: absolute;
    width: 100%;
    height: 8000px;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0;
    z-index: -1;
    transition: all 0.7s;
}

/* 갤러리 */
.gallery {
    opacity: 0;
    max-width: 1280px;
    margin: 200px auto;
    padding: 50px 0;
    font-family: 'Noto Sans KR';
    font-weight: 100;
    transition: all 2s;
    position: relative;
    margin-bottom: 500px;
}

.gallery h2 {
    font-size: 40px;
    opacity: 0;
    transition: all 2s;
    margin-bottom: 10px;
}

.gallery_inner {
    height: 2074px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 2s;
}

.gallery_inner img {
    width: 100%;
    display: block;
}

.gallery_inner div {
    position: absolute;
    transition: all 1s;
    overflow: hidden;
}

.gallery_inner div:hover img {
    transition: 1s all;
    transform: scale(1.2)
}

.gallery_inner div:nth-child(1) {
    width: 25%;
    order: 1;
    top: 0;
    left: 0;
}

.gallery_inner div:nth-child(1) img {
    margin-bottom: -20px;
}

.gallery_inner div:nth-child(2) {
    width: 42.1875%;
    order: 2;
    top: 0;
    left: 26.6%;
}

.gallery_inner div:nth-child(3) {
    width: 29.6875%;
    order: 3;
    top: 0;
    right: 0;
}

.gallery_inner div:nth-child(4) {
    order: 4;
    width: 42.1875%;
    left: 0;
    top: 423px;
}

.gallery_inner div:nth-child(5) {
    order: 5;
    width: 17.34375%;
    top: 423px;
    right: 38.9%;
}

.gallery_inner div:nth-child(6) {
    order: 6;
    width: 17.34375%;
    top: 740px;
    right: 38.9%;
}

.gallery_inner div:nth-child(7) {
    order: 7;
    width: 6.09375%;
    top: 423px;
    right: 31.3%;
}

.gallery_inner div:nth-child(8) {
    order: 8;
    width: 37.34375%;
    top: 523px;
    right: 0;
}

.gallery_inner div:nth-child(9) {
    order: 9;
    width: 17.34375%;
    left: 0;
    top: 1000px;
}

.gallery_inner div:nth-child(10) {
    order: 10;
    width: 17.34375%;
    left: 0;
    top: 1318px;
}

.gallery_inner div:nth-child(11) {
    order: 11;
    width: 42.1875%;
    top: 1000px;
    left: 19%;
}

.gallery_inner div:nth-child(12) {
    order: 12;
    width: 37.34375%;
    top: 866px;
    right: 0;
}

.gallery_inner div:nth-child(13) {
    order: 13;
    width: 40%;
    bottom: -5px;
    left: 0;
}

.gallery_inner div:nth-child(14) {
    order: 14;
    width: 40%;
    bottom: -5px;
    left: 41.7%;
}

.gallery_inner div:nth-child(15) {
    order: 15;
    width: 16.875%;
    bottom: 181px;
    right: 0;
}

.gallery_inner div:nth-child(16) {
    order: 16;
    width: 16.875%;
    bottom: -5px;
    right: 0;
}

.gall1-1 {
    opacity: 0;
    display: none;
    z-index: -1;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: 240px;
    margin-top: -317.5px;
}

.gall1-1 div img {
    position: absolute;
    top: 0;
    right: 0;
}

.gall2-1 {
    opacity: 0;
    display: none;
    z-index: -1;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: 405px;
    margin-top: -304px;
}

.gall2-1 div img {
    position: absolute;
    top: 0;
    right: 0;
}

.gall3-1 {
    opacity: 0;
    display: none;
    z-index: -1;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: 285px;
    margin-top: -380px;
}

.gall3-1 div img {
    position: absolute;
    top: 0;
    right: 0;
}

.gall4-1 {
    opacity: 0;
    display: none;
    z-index: -1;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: 405px;
    margin-top: -417px;
}

.gall4-1 div img {
    position: absolute;
    top: 0;
    right: 0;
}

.gall5-1 {
    opacity: 0;
    display: none;
    z-index: -1;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: 300px;
    margin-top: -400px;
}

.gall5-1 div img {
    position: absolute;
    top: 0;
    right: 0;
}

.gall6-1 {
    opacity: 0;
    display: none;
    z-index: -1;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: 400px;
    margin-top: -432.5px;
}

.gall6-1 div img {
    position: absolute;
    top: 0;
    right: 0;
}

.gall7-1 {
    opacity: 0;
    display: none;
    z-index: -1;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: 420px;
    margin-top: -439px;
}

.gall7-1 div img {
    position: absolute;
    top: 0;
    right: 0;
}

.gall8-1 {
    opacity: 0;
    display: none;
    z-index: -1;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: 388.5px;
    margin-top: -240px;
}

.gall8-1 div img {
    position: absolute;
    top: 0;
    right: 0;
}

.gall9-1 {
    opacity: 0;
    display: none;
    z-index: -1;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: 250px;
    margin-top: -333px;
}

.gall9-1 div img {
    position: absolute;
    top: 0;
    right: 0;
}

.gall10-1 {
    opacity: 0;
    display: none;
    z-index: -1;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: 400px;
    margin-top: -404px;
}

.gall10-1 div img {
    position: absolute;
    top: 0;
    right: 0;
}

.gall11-1 {
    opacity: 0;
    display: none;
    z-index: -1;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: 405px;
    margin-top: -405px;
}

.gall11-1 div img {
    position: absolute;
    top: 0;
    right: 0;
}

.gall12-1 {
    opacity: 0;
    display: none;
    z-index: -1;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: 300px;
    margin-top: -423px;
}

.gall12-1 div img {
    position: absolute;
    top: 0;
    right: 0;
}

.gall13-1 {
    opacity: 0;
    display: none;
    z-index: -1;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: 400px;
    margin-top: -400px;
}

.gall13-1 div img {
    position: absolute;
    top: 0;
    right: 0;
}


.gall14-1 {
    opacity: 0;
    display: none;
    z-index: -1;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: 400px;
    margin-top: -400px;
}

.gall14-1 div img {
    position: absolute;
    top: 0;
    right: 0;
}

.gall15-1 {
    opacity: 0;
    display: none;
    z-index: -1;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: 300px;
    margin-top: -451.5px;
}

.gall15-1 div img {
    position: absolute;
    top: 0;
    right: 0;
}

.gall16-1 {
    opacity: 0;
    display: none;
    z-index: -1;
    position: fixed;
    left: 50%;
    top: 20%;
    margin-left: 400px;
}

.gall16-1 div img {
    position: absolute;
    top: 0;
    right: 0;
}

.cancel:hover {
    cursor: pointer;
}

/* 1집 설정 */
.box1 {
    width: 100%;
    font-family: 'Noto Sans KR';
    font-weight: 100;
}

.box1:hover {
    cursor: default;
}

.box1 img {
    width: 100%;
}

/* 1집 소개1 */
.box1-1 {
    width: 100%;
    height: 1480px;
    position: relative;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(251,255,0,1) 100%);
opacity: 0;
transition: 0.5s all;
overflow: hidden;
}

.box1-1_img img {
    width: 100%;
}

.box1-1_img {
    width: 400px;
    position: relative;
    top: 200px;
    left: 50%;
    margin-left: -200px;
    z-index: 1;
}

.box1-1_txt {
    background-color: #1c1c1c;
    width: 400px;
    color: #fff;
    font-size: 16px;
    position: relative;
    top: 600px;
    left: 50%;
    margin-left: -200px;
    z-index: 2;
    transition: all 0.5s;
}

.box1-1 div {
    transition: 1s all;
}

.box1-1 div:nth-child(3) {
    font-family: 'Gaegu', handwriting;
    position: absolute;
    left: 12%;
    top: 200px;
    font-size: 2vw;
    font-weight: 900;
}

.box1-1 div:nth-child(4) {
    font-family: 'Gaegu', handwriting;
    position: absolute;
    right: 15%;
    top: 270px;
    font-size: 2vw;
    font-weight: 900;
}

.box1-1 div:nth-child(5) {
    font-family: 'Gaegu', handwriting;
    position: absolute;
    left: 6%;
    top: 680px;
    font-size: 2vw;
    font-weight: 900;
}

.box1-1 div:nth-child(6) {
    font-family: 'Gaegu', handwriting;
    position: absolute;
    right: 10%;
    top: 700px;
    font-size: 2vw;
    font-weight: 900;
}

.box1-1 div:nth-child(3) div:nth-child(2) {
    font-size: 20px;
}

.box1-1 div:nth-child(4) div:nth-child(2) {
    font-size: 20px;
}

.box1-1 div:nth-child(5) div:nth-child(2) {
    font-size: 20px;
}

.box1-1 div:nth-child(6) div:nth-child(2) {
    font-size: 20px;
}

/* 1집 소개2 */
.box1-2 {
    height: 1080px;
    background: rgb(251,255,0);
background: linear-gradient(180deg, rgba(251,255,0,1) 0%, rgba(251,255,0,1) 100%);
    position: relative;
    overflow: hidden;
    font-weight: bold;
}

.box1-2 div {
    position: absolute;
}

.box1-2 div {
    transition: 0.2s all;
}

.box1-2 div:nth-child(1) {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 746px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img/box1-2\(3\).png);
}

.box1-2 div:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 515px;
    background-image: url(img/box1-2\(2\).png);
    background-repeat: no-repeat;
    background-size: contain;
}
.box1-2 div:nth-child(3) {
    left: 0;
    top: 0;
    width: 100%;
    height: 375px;
    background-image: url(img/box1-2\(1\).png);
    background-repeat: no-repeat;
    background-size: contain;
}
.box1-2 div:nth-child(4) {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 906px;
    background-repeat: no-repeat;
    background-image: url(img/box1-2.png);
    background-size: contain;
}

.box1-2 div:nth-child(5) {
    width: 42%;
    top: 340px;
    right: 150px;
    text-align: center;
    font-size: 20px;
}

.box1-2 div:nth-child(5) p {
    padding-bottom: 50px;
}

/* 1집 소개3 */

.box1-3 {
    width: 100%;
    background: rgb(28,28,28);
    background: linear-gradient(180deg, rgba(28,28,28,1) 0%, rgba(0,0,0,1) 100%);
    display: flex;
    height: 1080px;
    overflow: hidden;
}

.box1-3_img {
    position: relative;
    width: 50%;
}

.coverbox1_lp img {
    width: 100%;
}

.coverbox1_lp {
    width: 1070px;
    position: absolute;
    left: 0;
}

.coverbox1_lp.on {
    animation: ani2 0.5s linear infinite;
}

@keyframes ani2 {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.coverbox1 {
    width: 535px;
    height: 100%;
    background: rgb(28,28,28);
    background: linear-gradient(180deg, rgba(28,28,28,1) 0%, rgba(0,0,0,1) 100%);
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
}

.coverbox1_albumcover {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -225px;
    z-index: 2;
}

.coverbox1 img {
    width: 62.5%;
}

.coverbox1_albumcover {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

.coverbox1_list_inner {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: 125px;
    width: 100%;
    z-index: 3;
    height: 30px;
    overflow: hidden;
}

.coverbox1_list {
    text-align: center;
    width: 7000px;
    color: #fff;
    display: flex;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
}

.coverbox1_list li {
    width: 100%;
}

.coverbox1_btn {
    width: 100%;
    font-size: 50px;
    color: #fff;
    font-size: 50px;
    position: relative;
    top: 50%;
    margin-top: 160px;
}
.coverbox1_btn i:nth-child(1){
    position: absolute;
    top: 15px;
    left: 130px;
}

.coverbox1_btn i:nth-child(2){
    position: absolute;
    top: 15px;
    left: 250px;
    animation: 1s ani3 linear infinite;
}

.coverbox1_btn i:nth-child(3){
    position: absolute;
    top: 15px;
    left: 370px;
}

.coverbox1_btn i:nth-child(4){
    position: absolute;
    top: 15px;
    left: 250px;
    display: none;
}

.lpplay1 li i:nth-child(1) {
    animation: 1s ani3 linear infinite;
}

@keyframes ani3 {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.2)
    }

    100% {
        transform: scale(1)
    }
}



i:hover {
    cursor: pointer;
}

.box1-3_txt {
    padding-top: 200px;
    margin-left: auto;
    width: 50%;
    font-size: 20px;
    color: #fff;
}

.box1-3_txt h3 {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    padding-bottom: 50px;
}

.box1-3_txt_inner {
    display: flex;
    justify-content: center;
}

.box1-3_txt_inner span {
    margin-left: 10px;
    font-size: 10px;
    vertical-align: 4px;
    color: yellow;
    animation: ani1 1.5s linear infinite;
}

.box1-3_txt_inner .song_title {
    color: red;
}

@keyframes ani1 {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

.lpplay1 {
    margin-left: -50px;
    margin-right: 20px;
}

.lpplay1 li {
    margin-bottom: 10px;
}

.lpplay1 li:nth-child(1) {
    margin-top: 50px;
}

.lplist1 {
    margin-right: 20px;
}

.lplist1 li{
    margin-bottom: 10px;
    text-align: center;
}

.lpsong1 li {
    margin-bottom: 10px;
}

.lplist1 li:nth-child(1) {
    margin-bottom: 20px;
    font-weight: bold;
}

.lpsong1 li:nth-child(1) {
    margin-left: 95px;
    margin-bottom: 20px;
    font-weight: bold;
}

.lpplay1 li i {
    margin-left: 5px;
}

/* 4집 비디오 */

.box1-4 {
    font-weight: bold;
    margin: 0 auto;
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(28,28,28,1) 100%);
    padding-bottom: 2000px;
}


.box1-4 h2 {
    padding-top: 100px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 40px;
    color: #fff;
}

.box1-4_inner {
    max-width: 860px;
    margin: 0 auto;
}

.box1-4 h3 {
    font-size: 25px;
    margin-bottom: 20px;
    color: #fff;
}

.video {
    width: 100%;
    border-radius: 30px;
    background-color: #ddd;
    box-sizing: border-box;
    box-shadow: 0px 8px 5px #999;
    padding: 30px;
    margin-bottom: 100px;
}

.video_container {
    position: relative;
    width: 100%;
}

.iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/* box2 설정 */
.box2 {
    width: 100%;
    font-family: 'Noto Sans KR';
    font-weight: 100;
}

.box2:hover {
    cursor: default;
}

.box2 img {
    width: 100%;
}

/* 2집 소개1 */
.box2-1 {
    width: 100%;
    height: 1480px;
    position: relative;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(133,233,255,1) 100%);
opacity: 0;
transition: 0.5s all;
overflow: hidden;
}

.box2-1_img img {
    width: 100%;
}

.box2-1_img {
    width: 400px;
    position: relative;
    top: 200px;
    left: 50%;
    margin-left: -200px;
    z-index: 1;
}

.box2-1_txt {
    background-color: #1c1c1c;
    width: 400px;
    height: 395px;
    color: #fff;
    font-size: 16px;
    position: relative;
    top: 600px;
    left: 50%;
    margin-left: -200px;
    z-index: 2;
    transition: all 0.5s;
    padding-top: 20px;
}

.box2-1 div {
    transition: 1s all;
}

.box2-1 div:nth-child(3) {
    font-family: 'Gaegu', handwriting;
    position: absolute;
    left: 8%;
    top: 200px;
    font-size: 2vw;
    font-weight: 900;
}

.box2-1 div:nth-child(4) {
    font-family: 'Gaegu', handwriting;
    position: absolute;
    right: 10%;
    top: 270px;
    font-size: 2vw;
    font-weight: 900;
}

.box2-1 div:nth-child(5) {
    font-family: 'Gaegu', handwriting;
    position: absolute;
    left: 10%;
    top: 680px;
    font-size: 2vw;
    font-weight: 900;
}

.box2-1 div:nth-child(6) {
    font-family: 'Gaegu', handwriting;
    position: absolute;
    right: 5%;
    top: 700px;
    font-size: 2vw;
    font-weight: 900;
}

.box2-1 div:nth-child(3) div:nth-child(2) {
    font-size: 20px;
}

.box2-1 div:nth-child(4) div:nth-child(2) {
    font-size: 20px;
}

.box2-1 div:nth-child(5) div:nth-child(2) {
    font-size: 20px;
}

.box2-1 div:nth-child(6) div:nth-child(2) {
    font-size: 20px;
}

/* 2집 소개2 */
.box2-2 {
    height: 600px;
    background: rgb(133,233,255);
background: linear-gradient(180deg, rgba(133,233,255,1) 0%, rgba(255,255,255,1) 100%);
    position: relative;
    overflow: hidden;
}

.box2-2 div {
    position: absolute;
    transition: 0.2s all;
}

.box2-2 div:nth-child(1) {
    width: 550px;
    position: absolute;
    right: 0;
    bottom: -10px;
}

.box2-2 div:nth-child(1) img {
    width: 100%;
}

.box2-2 div:nth-child(2) {
    width: 40%;
    left: 5%;
    bottom: 5%;
    text-align: center;
    font-size: 20px;
}

.box2-2 div:nth-child(2) p {
    padding-bottom: 50px;
    font-weight: bold;
}

/* 2집 소개3 */

.box2-3 {
    width: 100%;
    background: rgb(28,28,28);
    background: linear-gradient(180deg, rgba(28,28,28,1) 0%, rgba(0,0,0,1) 100%);
    display: flex;
    height: 1080px;
    overflow: hidden;
}

.box2-3_img {
    position: relative;
    width: 50%;
}

.coverbox2_lp img {
    width: 100%;
}

.coverbox2_lp {
    width: 1070px;
    position: absolute;
    left: 0;
}

.coverbox2_lp.on {
    animation: ani2 0.5s linear infinite;
}

.coverbox2 {
    width: 535px;
    height: 100%;
    background: rgb(28,28,28);
    background: linear-gradient(180deg, rgba(28,28,28,1) 0%, rgba(0,0,0,1) 100%);
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
}

.coverbox2_albumcover {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -225px;
    z-index: 2;
}

.coverbox2 img {
    width: 62.5%;
}

.coverbox2_albumcover {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

.coverbox2_list_inner {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: 125px;
    width: 100%;
    z-index: 3;
    height: 30px;
    overflow: hidden;
}

.coverbox2_list {
    text-align: center;
    width: 6460px;
    color: #fff;
    display: flex;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
}

.coverbox2_list li {
    width: 100%;
}

.coverbox2_btn {
    width: 100%;
    font-size: 50px;
    color: #fff;
    font-size: 50px;
    position: relative;
    top: 50%;
    margin-top: 160px;
}
.coverbox2_btn i:nth-child(1){
    position: absolute;
    top: 15px;
    left: 130px;
}

.coverbox2_btn i:nth-child(2){
    position: absolute;
    top: 15px;
    left: 250px;
    animation: 1s ani3 linear infinite;
}

.coverbox2_btn i:nth-child(3){
    position: absolute;
    top: 15px;
    left: 370px;
}

.coverbox2_btn i:nth-child(4){
    position: absolute;
    top: 15px;
    left: 250px;
    display: none;
}

.lpplay2 li i:nth-child(1) {
    animation: 1s ani3 linear infinite;
}

.box2-3_txt {
    padding-top: 200px;
    margin-left: auto;
    width: 50%;
    font-size: 20px;
    color: #fff;
}

.box2-3_txt h3 {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    padding-bottom: 50px;
}

.box2-3_txt_inner {
    display: flex;
    justify-content: center;
}

.box2-3_txt_inner span {
    margin-left: 10px;
    font-size: 10px;
    vertical-align: 4px;
    color: yellow;
    animation: ani1 1.5s linear infinite;
}

.box2-3_txt_inner .song_title {
    color: red;
}

.lpplay2 {
    margin-left: -50px;
    margin-right: 20px;
}

.lpplay2 li {
    margin-bottom: 10px;
}

.lpplay2 li:nth-child(1) {
    margin-top: 50px;
}

.lplist2 {
    margin-right: 20px;
}

.lplist2 li{
    margin-bottom: 10px;
    text-align: center;
}

.lpsong2 li {
    margin-bottom: 10px;
}

.lplist2 li:nth-child(1) {
    margin-bottom: 20px;
    font-weight: bold;
}

.lpsong2 li:nth-child(1) {
    margin-left: 95px;
    margin-bottom: 20px;
    font-weight: bold;
}

.lpplay2 li i {
    margin-left: 5px;
}

/* box3 설정 */
.box3 {
    width: 100%;
    font-family: 'Noto Sans KR';
    font-weight: 100;
}

.box3:hover {
    cursor: default;
}


/* 3집 소개1 */
.box3-1 {
    width: 100%;
    height: 1480px;
    position: relative;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,155,155,1) 100%);
opacity: 0;
transition: 0.5s all;
overflow: hidden;
}

.box3-1_img img {
    width: 100%;
}

.box3-1_img {
    width: 400px;
    position: relative;
    top: 200px;
    left: 50%;
    margin-left: -200px;
    z-index: 1;
}

.box3-1_txt {
    background-color: #1c1c1c;
    width: 400px;
    height: 395px;
    color: #fff;
    font-size: 16px;
    position: relative;
    top: 600px;
    left: 50%;
    margin-left: -200px;
    z-index: 2;
    transition: all 0.5s;
    padding-top: 10px;
}

.box3-1 div {
    transition: 1s all;
}

.box3-1 div:nth-child(3) {
    font-family: 'Gaegu', handwriting;
    position: absolute;
    left: 5%;
    top: 200px;
    font-size: 2vw;
    font-weight: 900;
}

.box3-1 div:nth-child(4) {
    font-family: 'Gaegu', handwriting;
    position: absolute;
    right: 20%;
    top: 270px;
    font-size: 2vw;
    font-weight: 900;
}

.box3-1 div:nth-child(5) {
    font-family: 'Gaegu', handwriting;
    position: absolute;
    left: 10%;
    top: 680px;
    font-size: 2vw;
    font-weight: 900;
}

.box3-1 div:nth-child(6) {
    font-family: 'Gaegu', handwriting;
    position: absolute;
    right: 5%;
    top: 700px;
    font-size: 2vw;
    font-weight: 900;
}

.box3-1 div:nth-child(3) div:nth-child(2) {
    font-size: 20px;
}

.box3-1 div:nth-child(4) div:nth-child(2) {
    font-size: 20px;
}

.box3-1 div:nth-child(5) div:nth-child(2) {
    font-size: 20px;
}

.box3-1 div:nth-child(6) div:nth-child(2) {
    font-size: 20px;
}

/* 2집 소개2 */
.box3-2 {
    padding-top: 200px;
    height: 1500px;
    background: rgb(255,155,155);
background: linear-gradient(180deg, rgba(255,155,155) 0%, rgba(255,255,255,1) 100%);
    overflow: hidden;
}

.box3-2 div {
    transition: 0.2s all;
}

.box3-2 div:nth-child(1) {
    opacity: 0;
    width: 500px;
    margin: 0 auto;
}

.box3-2 div:nth-child(1) img {
    width: 100%;
}

.box3-2 div:nth-child(2) {
    margin-top: 200px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.box3-2 div:nth-child(2) p {
    transition: 2s all;
    margin-bottom: 100px;
    opacity: 0;
}

/* 2집 소개3 */

.box3-3 {
    width: 100%;
    background: rgb(28,28,28);
    background: linear-gradient(180deg, rgba(28,28,28,1) 0%, rgba(0,0,0,1) 100%);
    display: flex;
    height: 1080px;
    overflow: hidden;
}

.box3-3_img {
    position: relative;
    width: 50%;
}

.coverbox3_lp img {
    width: 100%;
}

.coverbox3_lp {
    width: 1070px;
    position: absolute;
    left: 0;
}

.coverbox3_lp.on {
    animation: ani2 0.5s linear infinite;
}

.coverbox3 {
    width: 535px;
    height: 100%;
    background: rgb(28,28,28);
    background: linear-gradient(180deg, rgba(28,28,28,1) 0%, rgba(0,0,0,1) 100%);
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
}

.coverbox3_albumcover {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -225px;
    z-index: 2;
}

.coverbox3 img {
    width: 62.5%;
}

.coverbox3_albumcover {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

.coverbox3_list_inner {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: 125px;
    width: 100%;
    z-index: 3;
    height: 30px;
    overflow: hidden;
}

.coverbox3_list {
    text-align: center;
    width: 5400px;
    color: #fff;
    display: flex;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
}

.coverbox3_list li {
    width: 100%;
}

.coverbox3_btn {
    width: 100%;
    font-size: 50px;
    color: #fff;
    font-size: 50px;
    position: relative;
    top: 50%;
    margin-top: 160px;
}
.coverbox3_btn i:nth-child(1){
    position: absolute;
    top: 15px;
    left: 130px;
}

.coverbox3_btn i:nth-child(2){
    position: absolute;
    top: 15px;
    left: 250px;
    animation: 1s ani3 linear infinite;
}

.coverbox3_btn i:nth-child(3){
    position: absolute;
    top: 15px;
    left: 370px;
}

.coverbox3_btn i:nth-child(4){
    position: absolute;
    top: 15px;
    left: 250px;
    display: none;
}

.lpplay3 li i:nth-child(1) {
    animation: 1s ani3 linear infinite;
}

.box3-3_txt {
    padding-top: 200px;
    margin-left: auto;
    width: 50%;
    font-size: 20px;
    color: #fff;
}

.box3-3_txt h3 {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    padding-bottom: 50px;
}

.box3-3_txt_inner {
    display: flex;
    justify-content: center;
}

.box3-3_txt_inner span {
    margin-left: 10px;
    font-size: 10px;
    vertical-align: 4px;
    color: yellow;
    animation: ani1 1.5s linear infinite;
}

.box3-3_txt_inner .song_title {
    color: red;
}

.lpplay3 {
    margin-left: -50px;
    margin-right: 20px;
}

.lpplay3 li {
    margin-bottom: 10px;
}

.lpplay3 li:nth-child(1) {
    margin-top: 50px;
}

.lplist3 {
    margin-right: 20px;
}

.lplist3 li{
    margin-bottom: 10px;
    text-align: center;
}

.lpsong3 li {
    margin-bottom: 10px;
}

.lplist3 li:nth-child(1) {
    margin-bottom: 20px;
    font-weight: bold;
}

.lpsong3 li:nth-child(1) {
    margin-left: 95px;
    margin-bottom: 20px;
    font-weight: bold;
}

.lpplay3 li i {
    margin-left: 5px;
}

/* box4 설정 */
.box4 {
    width: 100%;
    font-family: 'Noto Sans KR';
    font-weight: 100;
}

.box4:hover {
    cursor: default;
}

/* 3집2 소개1 */
.box4-1 {
    width: 100%;
    height: 1480px;
    position: relative;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(153,153,153,1) 100%);
opacity: 1;
transition: 0.5s all;
overflow: hidden;
}

.box4-1_img img {
    width: 100%;
}

.box4-1_img {
    width: 400px;
    position: relative;
    top: 200px;
    left: 50%;
    margin-left: -200px;
    z-index: 1;
}

.box4-1_txt {
    background-color: #1c1c1c;
    width: 400px;
    height: 395px;
    color: #fff;
    font-size: 16px;
    position: relative;
    top: 600px;
    left: 50%;
    margin-left: -200px;
    z-index: 2;
    transition: all 0.5s;
    padding-top: 10px;
}

.box4-1 div {
    transition: 1s all;
}

.box4-1 div:nth-child(3) {
    font-family: 'Gaegu', handwriting;
    position: absolute;
    left: 5%;
    top: 200px;
    font-size: 2vw;
    font-weight: 900;
}

.box4-1 div:nth-child(4) {
    font-family: 'Gaegu', handwriting;
    position: absolute;
    right: 5%;
    top: 270px;
    font-size: 2vw;
    font-weight: 900;
}

.box4-1 div:nth-child(5) {
    font-family: 'Gaegu', handwriting;
    position: absolute;
    left: 13%;
    top: 630px;
    font-size: 2vw;
    font-weight: 900;
}

.box4-1 div:nth-child(6) {
    font-family: 'Gaegu', handwriting;
    position: absolute;
    right: 13%;
    top: 700px;
    font-size: 2vw;
    font-weight: 900;
}

.box4-1 div:nth-child(3) div:nth-child(2) {
    font-size: 20px;
}

.box4-1 div:nth-child(4) div:nth-child(2) {
    font-size: 20px;
}

.box4-1 div:nth-child(5) div:nth-child(2) {
    font-size: 20px;
}

.box4-1 div:nth-child(6) div:nth-child(2) {
    font-size: 20px;
}

/* 3집2 소개2 */
.box4-2 {
    padding-top: 200px;
    height: 500px;
    background: rgb(153,153,153);
background: linear-gradient(180deg, rgba(153,153,153) 0%, rgba(255,255,255,1) 100%);
    overflow: hidden;
    position: relative;
}

.box4-2 div {
    transition: 0.2s all;
    position: absolute;
}

.box4-2 div:nth-child(1) {
    width: 500px;
    right: 0;
    bottom: -10px;
}

.box4-2 div:nth-child(1) img {
    width: 100%;
}

.box4-2 div:nth-child(2) {
    width: 40%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    left: 50%;
    bottom: 0;
    margin-left: -20%;
}

.box4-2 div:nth-child(2) p {
    margin-bottom: 100px;
    opacity: 0;
    transition: all 2s;
}

/* 3집2 소개3 */

.box4-3 {
    width: 100%;
    background: rgb(28,28,28);
    background: linear-gradient(180deg, rgba(28,28,28,1) 0%, rgba(0,0,0,1) 100%);
    display: flex;
    height: 1080px;
    overflow: hidden;
}

.box4-3_img {
    position: relative;
    width: 50%;
}

.coverbox4_lp img {
    width: 100%;
}

.coverbox4_lp {
    width: 1070px;
    position: absolute;
    left: 0;
}

.coverbox4_lp.on {
    animation: ani2 0.5s linear infinite;
}

.coverbox4 {
    width: 535px;
    height: 100%;
    background: rgb(28,28,28);
    background: linear-gradient(180deg, rgba(28,28,28,1) 0%, rgba(0,0,0,1) 100%);
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
}

.coverbox4_albumcover {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -225px;
    z-index: 2;
}

.coverbox4 img {
    width: 62.5%;
}

.coverbox4_albumcover {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

.coverbox4_list_inner {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: 125px;
    width: 100%;
    z-index: 3;
    height: 30px;
    overflow: hidden;
}

.coverbox4_list {
    text-align: center;
    width: 6470px;
    color: #fff;
    display: flex;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
}

.coverbox4_list li {
    width: 100%;
}

.coverbox4_btn {
    width: 100%;
    font-size: 50px;
    color: #fff;
    font-size: 50px;
    position: relative;
    top: 50%;
    margin-top: 160px;
}
.coverbox4_btn i:nth-child(1){
    position: absolute;
    top: 15px;
    left: 130px;
}

.coverbox4_btn i:nth-child(2){
    position: absolute;
    top: 15px;
    left: 250px;
    animation: 1s ani3 linear infinite;
}

.coverbox4_btn i:nth-child(3){
    position: absolute;
    top: 15px;
    left: 370px;
}

.coverbox4_btn i:nth-child(4){
    position: absolute;
    top: 15px;
    left: 250px;
    display: none;
}

.lpplay4 li i:nth-child(1) {
    animation: 1s ani3 linear infinite;
}

.box4-3_txt {
    padding-top: 200px;
    margin-left: auto;
    width: 50%;
    font-size: 20px;
    color: #fff;
}

.box4-3_txt h3 {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    padding-bottom: 50px;
}

.box4-3_txt_inner {
    display: flex;
    justify-content: center;
}

.box4-3_txt_inner span {
    margin-left: 10px;
    font-size: 10px;
    vertical-align: 4px;
    color: yellow;
    animation: ani1 1.5s linear infinite;
}

.box4-3_txt_inner .song_title {
    color: red;
}

.lpplay4 {
    margin-left: -50px;
    margin-right: 20px;
}

.lpplay4 li {
    margin-bottom: 10px;
}

.lpplay4 li:nth-child(1) {
    margin-top: 50px;
}

.lplist4 {
    margin-right: 20px;
}

.lplist4 li{
    margin-bottom: 10px;
    text-align: center;
}

.lpsong4 li {
    margin-bottom: 10px;
}

.lplist4 li:nth-child(1) {
    margin-bottom: 20px;
    font-weight: bold;
}

.lpsong4 li:nth-child(1) {
    margin-left: 95px;
    margin-bottom: 20px;
    font-weight: bold;
}

.lpplay4 li i {
    margin-left: 5px;
}

/* box5 설정 */
.box5 {
    width: 100%;
    font-family: 'Noto Sans KR';
    font-weight: 100;
}

.box5:hover {
    cursor: default;
}

.box5 img {
    width: 100%;
}

/* 3집2 소개1 */
.box5-1 {
    width: 100%;
    position: relative;
opacity: 0;
transition: 2s all;
overflow: hidden;
}

/* 3집2 소개2 */
.box5-2 {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: -5px 0;
}

.box5-2 div {
    transition: 2s all;
    position: absolute;
    opacity: 0;
}

.box5-2 div img {
    width: 80%;
}

.box5-2 div:nth-child(1) {
    top: 2%;
    left: 7%;
    transform: rotateZ(-30deg);
}

.box5-2 div:nth-child(1) img:hover {
    transform: scale(1.2)
}
.box5-2 div:nth-child(2) img:hover {
    transform: scale(1.2)
}
.box5-2 div:nth-child(3) img:hover {
    transform: scale(1.2)
}
.box5-2 div:nth-child(4) img:hover {
    transform: scale(1.2)
}
.box5-2 div:nth-child(2) {
    top: 2%;
    right: 3%;
    transform: rotateZ(30deg);
}
.box5-2 div:nth-child(3) {
    bottom: 2%;
    left: 2%;
    transform: rotateZ(20deg);
}
.box5-2 div:nth-child(4) {
    bottom: 2%;
    right: 2%;
}


.box5-2 div:nth-child(5) {
    width: 100%;
    left: 0;
    bottom: 27%;
    text-align: center;
}
.box5-2 div:nth-child(5) p {
    margin-bottom: 100px;
    opacity: 1;
    transition: all 2s;
    font-size: 20px;
    font-weight: bold;
}

/* 5집 소개3 */

.box5-3 {
    width: 100%;
    background: rgb(28,28,28);
    background: linear-gradient(180deg, rgba(28,28,28,1) 0%, rgba(0,0,0,1) 100%);
    display: flex;
    height: 1080px;
    overflow: hidden;
}

.box5-3_img {
    position: relative;
    width: 50%;
}

.coverbox5_lp img {
    width: 100%;
}

.coverbox5_lp {
    width: 1070px;
    position: absolute;
    left: 0;
}

.coverbox5_lp.on {
    animation: ani2 0.5s linear infinite;
}

.coverbox5 {
    width: 535px;
    height: 100%;
    background: rgb(28,28,28);
    background: linear-gradient(180deg, rgba(28,28,28,1) 0%, rgba(0,0,0,1) 100%);
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
}

.coverbox5_albumcover {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -225px;
    z-index: 2;
}

.coverbox5 img {
    width: 62.5%;
}

.coverbox5_albumcover {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

.coverbox5_list_inner {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: 125px;
    width: 100%;
    z-index: 3;
    height: 30px;
    overflow: hidden;
}

.coverbox5_list {
    text-align: center;
    width: 3225px;
    color: #fff;
    display: flex;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
}

.coverbox5_list li {
    width: 100%;
}

.coverbox5_btn {
    width: 100%;
    font-size: 50px;
    color: #fff;
    font-size: 50px;
    position: relative;
    top: 50%;
    margin-top: 160px;
}
.coverbox5_btn i:nth-child(1){
    position: absolute;
    top: 15px;
    left: 130px;
}

.coverbox5_btn i:nth-child(2){
    position: absolute;
    top: 15px;
    left: 250px;
    animation: 1s ani3 linear infinite;
}

.coverbox5_btn i:nth-child(3){
    position: absolute;
    top: 15px;
    left: 370px;
}

.coverbox5_btn i:nth-child(4){
    position: absolute;
    top: 15px;
    left: 250px;
    display: none;
}

.lpplay5 li i:nth-child(1) {
    animation: 1s ani3 linear infinite;
}

.box5-3_txt {
    padding-top: 300px;
    margin-left: auto;
    width: 50%;
    font-size: 20px;
    color: #fff;
}

.box5-3_txt h3 {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    padding-bottom: 50px;
}

.box5-3_txt_inner {
    display: flex;
    justify-content: center;
}

.box5-3_txt_inner span {
    margin-left: 10px;
    font-size: 10px;
    vertical-align: 4px;
    color: yellow;
    animation: ani1 1.5s linear infinite;
}

.box5-3_txt_inner .song_title {
    color: red;
}

.lpplay5 {
    margin-left: -50px;
    margin-right: 20px;
}

.lpplay5 li {
    margin-bottom: 10px;
}

.lpplay5 li:nth-child(1) {
    margin-top: 50px;
}

.lplist5 {
    margin-right: 20px;
}

.lplist5 li{
    margin-bottom: 10px;
    text-align: center;
}

.lpsong5 li {
    margin-bottom: 10px;
}

.lplist5 li:nth-child(1) {
    margin-bottom: 20px;
    font-weight: bold;
}

.lpsong5 li:nth-child(1) {
    margin-left: 95px;
    margin-bottom: 20px;
    font-weight: bold;
}

.lpplay li i {
    margin-left: 5px;
}